$success-color: #53BBB1;
$disabled-color: #BABABA;

$primary-color: #547181;
$primary-dark: #343434;
$primary-light: #5F97C4;

$grey-dark: #626262;
$grey: #C6C6C6;
$grey-light: #E3E3E3;
$grey-lighter: #F7F7F7;

$form-text-color: #808080;
$form-input-color: #7D7D7D;
$error-color: #E2696E;

$app-green: #7BC29A;
$app-red: #DB6C72;
$app-blue: #6298C2;
$app-purple: #B76F9E;
$app-light-blue: #69C4DF;

// OUB colors

$oub-blue: #5f9ac5;
$oub-blue-dark: #4C5D69;
$oub-orange: #FE963E;

$oub-text: #47494C;

$oub-grey: #B2B2B2;

// Sizes
$screen-md: 720px;
$max-screen-width: 1280px;
